body {
  margin: 0;
  color: #ffffff !important;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  margin-top:90px;
  margin-bottom: 25px;
  max-width: 525px;
  min-height: 800px;
  position: relative;
  background: url(https://us.123rf.com/450wm/simpson33/simpson331610/simpson33161000119/65087598-concept-de-justice-sur-fond-de-bois-avocat-de-la-cour-loi-avocat-gavel-juge-de-composition-juridique.jpg?ver=6)
    no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(246, 250, 4, 0.904),
    0 17px 50px 0 rgba(246, 250, 4, 0.904);
    background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px 0px;
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px 70px 50px 70px;
  background: rgba(2, 2, 2, 0.7);
  border-radius: 80px 0px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 18px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: rgba(246, 250, 4, 0.904);
  border-color:#fff ;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: rgb(0, 0, 0);
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.75);
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
}
.login-form .group .label {
  color:#C99716;
  font-size: 14px;
}
.login-form .group .button {
  background:#C99716;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 40px 0 40px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
};
/*Css of the select form*/
form {
	width: 100%;
	height: 100%;
	padding-bottom: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(at top, #b5e6cf, #9dddad);
}

.select {
	width: 225px;
	height: 40px;
	cursor: pointer;
	background-color: white;
	box-shadow: 0 2px 0 white;
	border-radius: 2px;
}
  .specialty {
	position: relative;
  overflow: hidden !important;
  -moz-appearance: none;
	outline: none;
	border: none;
	color: #000000;
	font-size: 14px !important;
	width: 100%;
  padding: 15px 20px;
  margin:15px 0px;
	cursor: pointer;
  border-radius: 30px;
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.75);
  }

  .btnReg{
    margin-top: 30px;
  }
    .btnReg :hover {
    animation: .8s morph ease infinite;
  }
  
  .btnReg :hover p {
    animation: .8s rot ease infinite;
  }
  
  @keyframes morph {
    0% {
      border-radius: 100px 30px 100px 30px;
    } 50% {
      border-radius: 30px 100px 30px 100px;
    } 100% {
      border-radius: 100px 30px 100px 30px;
    }
  }
  
  @keyframes rot {
    0% {
      transform: rotate(-3deg);
    } 50% {
      transform: rotate(3deg);
    } 100% {
      transform: rotate(-3deg);
    }
  }